<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Novetel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="xrea-frendly.js"></script>
  </head>
  <body>
    <div id="app" style="display:none">
      <fieldset v-bind:style="{ display: initialized ? 'block' : 'none' }" v-bind:disabled="requesting">
        <!-- navbar -->
        <div class="navbar navbar-expand fixed-top navbar-light bg-light">
          <a class="navbar-brand" href="#" v-on:click.stop.prevent="mode = 'stories'">Novetel</a>
          <div class="navbar-nav-scroll" v-if="info">
            <ul class="navbar-nav flex-row">
              <li v-bind:class="{ 'nav-item': true, active: mode === 'stories' }">
                <a class="nav-link" href="#" v-on:click.stop.prevent="mode = 'stories'">内容</a>
              </li>
              <li v-bind:class="{ 'nav-item': true, active: mode === 'info' }">
                <a class="nav-link" href="#" v-on:click.stop.prevent="mode = 'info'">情報</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- alert -->
        <div class="container" v-if="alert">
          <div v-bind:class="'alert alert-' + alert.type">
            {{alert.message}}
            <button type="button" class="close" v-on:click="alert = null">&times;</button>
          </div>
        </div>

        <!-- page -->
        <div class="container d-flex flex-column page-editor" v-if="stories && formPage && mode === 'page'">
          <div>
            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-sm btn-primary float-left" v-on:click="updatePage" v-if="formPage.type==='text'">{{formPage.newPage ? '追加' : '更新'}}</button>
                <button type="submit" class="btn btn-sm btn-danger float-right" v-on:click="deletePage" v-if="formPage.delete_num">削除</button>
              </div>
            </div>
          </div>
          <div class="col page-editor-form" v-if="formPage.type==='text'">
            <div class="form-group row">
              <textarea class="form-control" rows="3" v-model="formPage.data"></textarea>
            </div>
          </div>
          <div v-if="formPage.type==='image'">
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="text-center">
                  <a v-bind:href="formPage.url" target="_blank">
                    <img v-bind:src="formPage.data" class="img-thumbnail">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- story -->
        <div class="modal show" style="display:block" v-if="stories && formStory" tabindex="-1">
          <div class="modal-dialog">
            <form class="modal-content" v-on:submit.stop.prevent="updateStory">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">セパレータの{{formStory.newStory ? '追加' : '変更'}}</h5>
                <button type="button" class="close" v-on:click="formStory = null">&times;</button>
              </div>
              <div class="modal-body">
                <input class="form-control" v-model="formStory.title">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary">{{formStory.newStory ? '追加' : '更新'}}</button>
              </div>
            </form>
          </div>
        </div>

        <!-- stories -->
        <div class="container" v-if="stories && mode === 'stories'">
          <div class="ad" v-html="adHTML" v-if="adHTML"></div>
          <div class="list-group">
            <div class="list-group-item" v-for="(story, storyIndex) in formStories">
              <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center"
                   href="#" v-on:click.stop.prevent="editStory(story)">
                  {{story.title}}
                  <span class="btn-group btn-group-sm">
                    <button class="btn btn-secondary" type="button" v-on:click.stop.prevent="moveStory(story, -1)">&#8593;</button>
                    <button class="btn btn-secondary" type="button" v-on:click.stop.prevent="moveStory(story, +1)">&#8595;</button>
                  </span>
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" v-for="(page, pageIndex) in story.pages"
                   href="#" v-on:click.stop.prevent="editPage(page)">
                  <button class="btn btn-sm btn-secondary" type="button"
                          v-on:click.stop.prevent="newPageBefore(page)">
                    &#8593; <sub>＋</sub>
                  </button>
                  <span class="col">{{page.title}}</span>
                  <button class="btn btn-sm btn-secondary" type="button"
                          v-on:click.stop.prevent="newStoryBefore(page)" v-if="pageIndex">
                    &#65295;
                  </button>
                </a>
                <a class="list-group-item list-group-item-action list-group-item-secondary"
                   href="#" v-on:click.stop.prevent="newPageBefore({ story: story.story, storyIndex: storyIndex })">
                  ＋
                </a>
              </div>
            </div>
            <div class="list-group-item" v-if="!formStories.length">
              <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-secondary"
                   href="#" v-on:click.stop.prevent="newPageBefore({ story: 0, storyIndex: 0 })">
                  ＋
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- info -->
        <div class="container" v-if="info && mode === 'info'">
          <div class="ad" v-html="adHTML" v-if="adHTML"></div>
          <div class="form-group row">
            <label for="infoFormTitle" class="col-sm-3 col-form-label">タイトル</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="infoFormTitle" v-model="formInfo.name">
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormGenre" class="col-sm-3 col-form-label">ジャンル</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="infoFormGenre" v-model="formInfo.category">
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormDescription" class="col-sm-3 col-form-label">あらすじ</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="infoFormDescription" v-model="formInfo.summary">
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormTags" class="col-sm-3 col-form-label">タグ</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="infoFormTags" v-model="formInfo.tags">
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormAuthor" class="col-sm-3 col-form-label">作者名</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="infoFormAuthor" v-model="formInfo.author">
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormAuthorUrl" class="col-sm-3 col-form-label">作者紹介URL</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="infoFormAuthorUrl" v-model="formInfo.xurl">
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormMessage" class="col-sm-3 col-form-label">作者コメント</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="infoFormMessage" v-model="formInfo.comment">
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormMagazine" class="col-sm-3 col-form-label">掲載誌</label>
            <div class="col-sm-9">
              <select class="form-control" id="infoFormMagazine" v-model="formInfo.magazine">
                <option value="1">週刊少年VIP</option>
                <option value="2">週刊ヤングVIP</option>
                <option value="3">月刊コミックニート</option>
                <option value="6">別冊少女きぼん</option>
                <option value="8">まんがニートぷげら</option>
                <option value="4">文芸新都</option>
                <option value="7">ニートノベル</option>
                <option value="9">ベータマガジン</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormStatus" class="col-sm-3 col-form-label">状態</label>
            <div class="col-sm-9">
              <select class="form-control" id="infoFormStatus" v-model="formInfo.state">
                <option value="1">連載</option>
                <option value="2">読切</option>
                <option value="3">休載</option>
                <option value="4">完結</option>
                <option value="5">潜伏</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="infoFormStatus" class="col-sm-3 col-form-label">タグ</label>
            <div class="col-sm-9">
              <select class="form-control" id="infoFormTagStatus" v-model="formInfo.taggable">
                <option value="0">利用不可</option>
                <option value="1">利用可</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" v-model="formInfo.methodid" v-bind:true-value="'1'" v-bind:false-value="'2'">
                age更新
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
              <button type="submit" class="btn btn-primary" v-on:click="updateInfo">更新</button>
            </div>
          </div>
        </div>

        <!-- login -->
        <div class="container" v-if="!info">
          <div class="ad" v-html="adHTML" v-if="adHTML"></div>
          <form v-on:submit.stop.prevent="login">
            <div class="form-group row">
              <label for="loginFormId" class="col-sm-3 col-form-label">ID</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="loginFormId" v-model="formLogin.id">
              </div>
            </div>
            <div class="form-group row">
              <label for="loginFormPassword" class="col-sm-3 col-form-label">パスワード</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="loginFormPassword" v-model="formLogin.password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-9 offset-sm-3">
                <button type="submit" class="btn btn-primary">ログイン</button>
              </div>
            </div>
          </form>
        </div>
      </fieldset>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>
